@model Informe

<table class="table">
    <thead>
        <tr>
            <th>Informe del torneo @Model.torneo.Nombre @Model.torneo.Anio</th>
        </tr>
        <tr>
            <th>
                <label>Nombre</label>
            </th>
            <th>
                <label>PT</label>
            </th>
            <th>
                <label>PG</label>
            </th>
            <th>
                <label>PE</label>
            </th>
            <th>
                <label>PP</label>
            </th>
            <th>
                <label>GF</label>
            </th>
            <th>
                <label>GC</label>
            </th>
            <th>
                <label>DF</label>
            </th>
        </tr>
        <
    </thead>
    <tfoot>

    @foreach (var item in equiposOrdenados)
    {
        <tr>
            <td>
                <label>@item.Nombre</label>
            </td>
            <td>
                <label>@item.Puntos</label>
            </td>
            <td>
                <label>@item.PartidosGanados</label>
            </td>
            <td>
                <label>@item.PartidosEmpatados</label>
            </td>
            <td>
                <label>@item.PartidosPerdidos</label>
            </td>
            <td>
                <label>@item.GolesAFavor</label>
            </td>
            <td>
                <label>@item.GolesEnContra</label>
            </td>
            <td>
                <label>@item.DiferenciaDeGoles</label>
            </td>
            <td>
                <a asp-action="EditarDato" asp-route-nombre="@item.Nombre" class="btn btn-outline-primary">Editar</a>
            </td>
        </tr>
    }
        <tr>
            <td >
                <a asp-action="CreacionDeTorneo" class="btn btn-primary btn-block">Agregar Equipo</a>
            </td>
        </tr>

    </tfoot>
</table>
            